<div class="container-main">
  <div class="container-presentation">
    <div class="container-img-cook">
      <img src="assets/img/Cards_example.png" alt="" />
    </div>
    <div class="container-expressions">
      <p>
        ¡Comparte tu pasión por la cocina en CookChef! Si tienes una receta
        única y deliciosa, no pierdas la oportunidad de inspirar a otros amantes
        de la gastronomía.
        <br />
        <span id="text-persuasive"
          >¡Muestra tu creatividad y deja que tus sabores conquisten a la
          comunidad!</span
        >
      </p>
    </div>
  </div>
  <div class="information-main">
    <app-recipe-details />
  </div>
</div>
