<div class="box-information-additional">
  <div class="box-time">
    <div class="box-icon">
      <span class="material-icons"> watch_later </span>
    </div>
    <div>
      <p>Tiempo:</p>
    </div>
    <input type="text" />
    <p>min</p>
  </div>
  <div class="box-difficult">
    <div class="box-icon">
      <span class="material-icons"> signal_cellular_alt </span>
    </div>
    <div>
      <p>Dificultad:</p>
    </div>
    <select id="option-dificult">
      <option value="Fácil">Fácil</option>
      <option value="Intermedio">Intermedio</option>
      <option value="Difícil">Difícil</option>
    </select>
  </div>
  <div class="box-diners">
    <div class="box-icon">
      <span class="material-icons"> group </span>
    </div>
    <div>
      <p>Porciones:</p>
    </div>
    <input type="number" />
  </div>
  <div class="box-category">
    <div class="box-icon">
      <span class="material-icons"> category </span>
    </div>
    <div>
      <p>
        Categoria:
      </p>
    </div>
    <select id="option-category">
      <option value="Postres">Postres</option>
      <option value="Ensaladas">Ensaladas</option>
      <option value="Desayunos">Desayunos</option>
      <option value="Comidas">Comidas</option>
      <option value="Bebidas">Bebidas</option>
    </select>
  </div>
</div>
