<nav class="container-nav-bar">
  <div class="container-logo-name-cookchef">
    <div class="container-logo">
      <img src="assets/img/Logo-CookChef.png" alt="" />
    </div>
    <h1>COOKCHEF</h1>
  </div>
  <div class="search-bar">
    <div class="actions">
      <button><span class="material-icons">search</span></button>
    </div>
    <input type="text" placeholder="Buscar" />
  </div>
  <div class="container-actions">
    <ul>
      <li>Mis recetas</li>
      <li>Recetas</li>
      <li><button>Registrarse</button></li>
      <li><button>Iniciar Sesión</button></li>
    </ul>
  </div>
</nav>
